{# import_export/templates/import_export/index.html #}
{% extends "we_vote_base.html" %}

{% block title %}Import Export Options{% endblock %}

{%  block content %}

<h1>Import from Other Data Sources</h1>

<p>Bring data in from these sources, into the local database cache:</p>
<ul>
    <li>TheUnitedStates.io
    (<a href="{% url 'import_export_theunitedstatesio:import_theunitedstatesio_from_csv' %}">import csv now</a>)
        <ul>
            <li>Legislators, Current</li>
        </ul>
    </li>

    <li>Google Civic API
    (<a href="{% url 'import_export_google_civic:import_voterinfo_from_json' %}">import json now</a>)
        <ul>
            <li>JSON Ballot info for San Francisco address</li>
        </ul>
    </li>

    <li>MapLight API
    (<a href="{% url 'import_export_maplight:import_maplight_from_json_view' %}">import json files now</a>)
        <ul>
            <li>JSON Ballot info for San Francisco address</li>
        </ul>
    </li>

    <li>Sample Voting Info Project XML File
    (<a href="{% url 'import_export_voting_info_project:import_voting_info_project_from_xml_view' %}">import XML now</a>)
        <ul>
            <li>XML Sample Data</li>
        </ul>
    </li>

</ul>


<p>Take the data cached locally and distribute it to the correct local We Vote db tables:</p>
<ul>
<li>TheUnitedStates.io
    (<a href="{% url 'import_export:transfer_from_theunitedstatesio' %}">transfer now</a>)
    <ul>
        <li>Legislators, Current => Politician</li>
    </ul>
</li>

<li>Google Civic API
    (<a href="{% url 'import_export:transfer_from_google_civic' %}">transfer now</a>)
    <ul>
        <li>GoogleCivicElection, GoogleCivicContestOffice, GoogleCivicCandidateCampaign, GoogleCivicContestReferendum</li>
        <li>Politician Linkage to Candidate Campaign</li>
    </ul>
</li>

<li>MapLight API
    (<a href="{% url 'import_export:transfer_from_maplight' %}">transfer now</a>)
    <ul>
        <li>MapLightCandidate (using the photo)</li>
    </ul>
</li>

<li>We Vote Sample Positions
    (<a href="{% url 'import_export:import_sample_positions' %}">import now</a>)
</li>
</ul>

<h1>Export from We Vote</h1>

<ul>

<li>Export Positions
    (<a href="{% url 'import_export:positions' %}?format=json">export now</a>)
</li>

<li>Export Organizations
    (<a href="{% url 'import_export:organizations' %}?format=json">export now</a>)
</li>

<li>Export Candidate Campaigns
    (<a href="{% url 'import_export:candidate_campaigns' %}?format=json">export now</a>)
</li>

</ul>
<p>&nbsp;</p>
<p><a href="{% url 'ux_birch_start:start' %}">Back to home</a></p>{# Could be ux_oak too #}
{% endblock %}
